.container {
    width: 50%;
    margin: 50px auto;
}

.poll {
    border: 1px solid #3298dc;
    border-radius: 2px;
    margin: 20px;
}

.poll-title {
    background-color: #3298dc;
    color: white;
    padding: 10px;
}

.poll-content {
    margin: 20px;
}

.vote-button {
    margin-top: 20px
}

.answer-input {
    margin-right: 10px;
}